@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 20px;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    background-color: black;
}
#header-img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    
}
.nav-link{
    padding: 0 25px;
    color: white;
    text-decoration: none;
}
a:hover{
    color: green;
}
.written{
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    line-height: 2;}

#videodiv{
text-align: center;
}


.container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 100px auto;
    line-height: 2;
    justify-content: center;
}

@media (max-width:800px){
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
}

.card{
    border: 2px solid black;
    margin: auto 2px;
    padding: 20px;
    border-radius: 10px;
}
h1,h2{
    text-align: center;
    background-color: rgba(221, 216, 209, 0.493);
}
.btn{
    background-color: rgba(255, 255, 0, 0.726);
    border: none;
    width: 100%;
    padding: 10px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
form{
    text-align: center;
    padding: 50px;
}
#email{
    border-radius: 1px;
    padding: 10px;
    width: 60%
}
#submit{
    background-color: rgba(71, 126, 39, 0.726);
    border: none;
    margin: 10px auto;
    padding: 10px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}